*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;

}
/* header section start  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97.8px;
}
.nav-item a{
    color: black;
    padding-left: 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    transition: all ease 0.3s;
}
.nav-item a:hover{
    color: #0EB4C1;
}
.btn{
    height: 47px;
    width: 189px;
    background-color: #DE2E54;
    color: #fff;
    border-radius: 8px;
    border: none;
}
/* header section end  */
/* main body start  */
.main-body{
    width: 100%;
    padding: 0 60px;
    background: #0EB4C1;
    height: 533px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.main-body__text{
    width: 40%;
}
.main-body__text h1{
    color: #fff;
    font-size: 36px;
}
.main-body__text p{
    line-height: 27px;
    color: #fff;
    padding-top: 16px;
}
.btn-distance{
    margin-top: 36px;
}
.btn:hover{
    background-color: #fff;
    color: #DE2E54;
    border: 1px solid #DE2E54;
    font-weight: bold;
}
.main-body__img{
    position: absolute;
    bottom: 0;
    right: 100px;
}
/* main body end  */
/* heathcare section start  */
.heathcare-title{
    margin-top: 120px;
    margin-bottom: 92px;
    text-align: center;
    font-weight: bold;
}
.container-medium{
    width: 80%;
    margin: 0 auto;
}
.heathcare-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.heathcare-description{
    width: 70%;
}
.heathcare-description p{
    padding-top: 24px;
}
.heathcare-card__img{
    width: 30%;
}
.btn-center{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;
}

/* helthcare section end  */
/* recive section start  */
.recieve-background{
    background: #0EB4C1;
    height: 253px;
    box-sizing: border-box;
    padding: 60px 400px;
}
.recieve-title{
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    color: #fff;
}
.btn-light{
    height: 47px;
    width: 189px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.btn-light:hover{
   background-color: #fff;
   color: #0EB4C1;
   font-weight: bold;
}

/* recieve section end  */
/* footer section start  */

footer{
    background: #222222;
    color: #fff;
    height: 97.94px;
}
.footer-nav{
    height: 97.94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav__item a{
    color: #fff;
    padding-left: 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.footer-nav__item{
    margin-right: 100px;
}

/* footer section end  */
